<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Point of Interest </a></header>
    <div class="right menu">
        <a id="home"   class= "item" href="/home"><i class="home icon"></i> Create POI</a>
        <a id="report" class= "item" href="/report"> <i class="list layout icon"></i>List POIs</a>
        <a id="settings" class= "item" href="/settings"> <i class="settings icon"></i> Settings</a>
        <a id="logout" class= "item" href="/logout"> <i class="sign out icon"></i> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>