<nav class="ui inverted menu">
    <header class="header item"> <a href="/poi"> Point of Interest </a> </header>
    <div class="right menu">
        <a class="item" href="/signup"> <i class="pencil alternate icon"></i>Signup</a>
        <a class="item" href="/login"><i class="sign in icon"></i> Login</a>
    </div>
</nav>