{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/bridge-red.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Get Audio Tourists to the South East</header>
            <p> Create a Musical POI! </p>
        </article>
    </div>
</section>