{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui column centered grid">
        <div class="ui banner">
            <div>Food of Love</div>
            <div class="ui circular floating red large label "><i class="music icon"></i></div>
        </div>
    </div>
    <div class="ui grid">

        <aside class="ten wide column">
            <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1557675929/dinner.jpg" class="ui scaled image">
        </aside>
        <article class="six wide column">
            <header class="ui header"> Get Audio Tourists to the South East</header>
            <p> Create a Musical POI! </p>
        </article>
    </div>
</section>