<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Point of Interest </a> </header>
    <div class="right menu">
        <a class="item" href="/home"> POI</a>
        <a id="settings" class= "item" href="/settings"> Settings</a>
        <a class="item" href="/logout">  Logout</a>
    </div>
</nav>

{{> poilist }}