{{> mainmenu _id="settings" }}

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/settings" method="POST">
                    <h3 class="ui header">Update your details, {{user.firstName}} {{user.lastName}} </h3>
                    <div class="two fields">
                        <div class="field">
                            <label for="firstName">First Name</label>
                            <input id="firstName" type="text" name="firstName">
                        </div>
                        <div class="field">
                            <label for="lastName">Last Name</label>
                            <input id="lastName" type="text" name="lastName">
                        </div>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input id="email" value="{{user.email}}" type="text" name="email">
                    </div>
                    <div class="field">
                        <label  for="password">Password</label>
                        <input id="password" value="{{user.password}}" type="password" name="password">
                    </div>
                    <button class="ui blue submit button">Save</button>
                </form>
            </div>
        </div>
        <aside class="ui five wide column">
            <img src="/public/images/bridge-red.jpg" class="ui medium image">
        </aside>
    </div>
</section>